///////////////
// Functions //
///////////////

// Px to Em
@function em( $pixels, $context: $fs-base ) {

	@if (unitless($pixels)) {
    	$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
	  $context: $context * 1px;
	}

	@return $pixels / $context * 1em;

}

// Px to Rem
@function rem( $pixels, $context: $fs-base ) {

	@if (unitless($pixels)) {
    	$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
	  $context: $context * 1px;
	}

	@return $pixels / $context * 1rem;

}

// Grid percentage
@function grid_percent( $width, $val ) {
	@return percentage($val * 100 / $width) / 100;
}

// String replace
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
