//////////////////////////
// Section: Advertising //
//////////////////////////

/*! ### Advertising Section */
/*! ----------------------- */
.section-bannad {

	.row-display.grid-2 > div {
		margin-bottom: 0;
	}

	&.nombot {
		margin-bottom: 0;
	}

	@at-root .bannad-wrap {
		@extend %clearfix;
		width: 100%;
		text-align: center;
		padding: rem($margin-small);

		&.with-border {
			border-width: $bw-3;
			border-style: double;
			@extend %light-border;
			padding: rem($margin-small - 3);
		}

		&.nopadd {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		.bannad {
			display: block;
		    width: 100%;
		    height: auto;
		    margin: 0 auto;

			& > a {
				display: block;
			}

			&.b-4-6-8 {
				max-width: 468px;
			}

			&.b-7-2-8 {
				max-width: 728px;
			}

			&.b-9-8-0 {
				max-width: 980px;
			}

			embed, iframe, object, video, script, img {
				max-width: 100%;
				margin: 0;
				padding: 0;
				border: none;
			}

			img {
				display: block;
			}
		}
	}
}
