///////////
// Lists //
///////////
ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
}
ul {
	list-style-position: inside;
	list-style-type: disc;
}
ol {
	counter-reset: item;
}
ul li {
	padding: 0;
}
ol li {
	display: block;
	position: relative;
	margin-left: 1.5em;
}
ol li:before {
	content: counter(item) ".";
	counter-increment: item;
	font-weight: $fw-bold;
	left: -1.5em;
	position: absolute;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: $fw-bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
