////////////////
// Typography //
////////////////

/*! ## Body */
%ff-body {
	font-family: $ff-body;
}

/*! ## Headings */
%ff-headings {
	font-family: $ff-headings;
}

/*! ## Secondary */
%ff-secondary {
	font-family: $ff-secondary;
}

/*! ## Coding */
%ff-coding-1 {
	font-family: $ff-coding-1;
}
%ff-coding-2 {
	font-family: $ff-coding-2;
}

/*! ## Styles */
html,
body,
button,
input,
select,
textarea {
	@extend %ff-body;
	@include rem_font_size($fs-base);
	font-weight: $fw-regular;
	line-height: $lh-base;

	@include mq( maxlarge ) {
		@include rem_font_size($fs-14);
	}
}
body,
input,
select,
textarea {
	@extend %mediumdark-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	@extend %ff-headings;
	@extend %dark-font;
	font-weight: $fw-bold;
	line-height: $lh-headings;
	margin: 0 0 0.75rem;
	padding: 1.5rem 0 0;
}
@include fs-divided(6, 6, 'h'); // Headings font sizes
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	position: relative;
	@extend %ff-headings;
	@extend %dark-font;
	@include rem_font_size(30);
	font-weight: $fw-regular;
	font-style: italic;
	margin: 0 0 rem($margin-small) 0;
	line-height: $lh-quote;
	overflow: hidden;
	padding: 0;

	&:before {
		display: inline-block;
		content: "\e901" !important;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		@include rem_font_size(44);
		font-family: 'neville-icons';
		margin-bottom: 1.350rem;
		opacity: .2;
	}
}
blockquote cite {
	display: block;
	font-style: normal;
	margin-top: 2rem;
	@extend %ff-secondary;
	@extend %clearfix;
	@extend %mediumdark-font;
	@include ff-smallest-uppercase;
}
blockquote > *:last-child {
	margin-bottom: 0 !important;
}
address {
	margin: 0 0 1.5em;
}
pre { /*! ## Coding */
	@extend %bright-bg;
	@extend %ff-coding-1;
	@include rem_font_size(15);
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var { /*! ## Coding */
	@extend %ff-coding-2;
	@include rem_font_size(15);
}
abbr,
abbr[title],
acronym {
	@extend %dark-font;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	@extend %accent-border-bottom;
	text-decoration: none;
	cursor: help;
}
mark,
ins {
	@extend %dark-bg;
	@extend %blank-font;
	padding: 0 em(5);
	text-decoration: none;
}
big {
	font-size: 125%;
}
blockquote {
	quotes: "" "";
}
q {
	quotes: "“" "”" "‘" "’";
}
blockquote:before,
blockquote:after {
	content: "";
}
:focus {
	outline: none;
}
